fieldset{
    width: 10px; height:120px;
    margin-top: 200px;
    margin-left: 500px;
}
body{
    background: url('https://www.instagram.com/reel/CqADUKivTfb/?igsh=MXB0bXF0eWdnZjRidw==');
    background-size: cover;
}